body {
    background-color: black;
}

.container {
    background-color: black;
}

#main-content {
    background-color: black; 
    background-image: url('../img/posters/test2.jpg');
    background-repeat: repeat-x;
    background-position: bottom left;
    /* border-bottom: 0.2px solid white; */
}

nav {
/*    background-color: rgba(255, 255, 255, 0.2);*/
    background-color: black;
}

.marcador {
    border: 1px solid red;
}

a {
    color: white;
}


.ml-7 {
    margin-left: 8rem;
}

.card {
    border: 1px solid white;
}

.poster {
    width: 250px;
    height: 373px;
}

img.icon {
/*    #B11226*/
    height: 20px;
    width: 20px;
    display: block;
    margin: auto;
    margin-bottom: -15px;
}

i {
    color: green;
}

footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}